@model Nop.Web.Areas.Admin.Models.Sms.SmsTemplateModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.SmsTemplates.EditSmsTemplateDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Sms templates");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.SmsTemplates.EditSmsTemplateDetails") - @Model.Name 
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.ContentManagement.SmsTemplates.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
          @*  @Html.ActionConfirmation("sms-template-copy")*@

            <span id="sms-template-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="sms-template-delete" />