@model CustomerAddressEditModel
@{
    Layout = "_ColumnsTwo";

    //titleurl.action
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<form asp-route="CustomerAddressEdit" method="post">
    <div class="page account-page address-edit-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses.Edit")</h1>
        </div>
        <div class="page-body">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            @{
                var dataDictAddress = new ViewDataDictionary(ViewData);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
            }

            <div class="buttons">
                <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />
               @* <input type="button" style="margin:5px" class="button-1 save-address-button" onclick="setdefcustomeraddress(@(Model.Address.Id))" value="@T("Common.makedefualt")" />*@

                @*<nop-action-confirmation asp-button-id="btnsetdefaddress" />*@

            </div>
        </div>
    </div>
</form>
<script asp-location="Footer">
                    function setdefcustomeraddress(addressId) {
                        if (confirm('@T("Common.AreYouSure")')) {
                            var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@Url.Action("SetDefaultAddress", "Customer")",
                                data: postData,
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    location.href = data.redirect;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
</script>