@model IList<VendorModel>
@{
    Layout = null;
}
@using Nop.Web.Models.Catalog;
<div class="vendor-list-homepage">
    <div class="vendor-list-homepage-body">
        <div class="item-grid owl-carousel home-page-vendors">
            @foreach (var item in Model)
            {
                <div class="vendor-item">
                    <div class="picture" id="slider_@item.Id">
                        <a href="@Url.RouteUrl("Vendor", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>